{% extends 'base.html' %}
{% block title %}Pets{% endblock %}

{% block content %}
<h1>Pets</h1>

{% for msg in get_flashed_messages() %}
    <div class="alert alert-info">{{ msg }}</div>
  {% endfor %}

{% if pets %}
{% for pet in pets %}
<div>

  {% if pet.photo_url %}
  <img src="{{pet.photo_url}}">
  {% endif %}

  <span><a href="/{{ pet.id }}">{{pet.name}}</a>
    {% if pet.available %}
    <b>is available!</b>
    {% endif %}
  </span>

</div>

{% endfor %}

{% endif %}

<a href="/add">Add a Pet</a>

{% endblock %}